<% @course_codes.each do |code| %>
    <% course_info = @course_info[code] %>

    <% course_message = course_info.nil? ? "Course not found for this semester" : course_info[code][:title] %>
    <% div_class = course_info.nil? ? "course_missing" : "course_found" %>

    <div class = <%= div_class %> >
    <p><%= code + " " + course_message %></p>
    </div>
<% end %>

<%= form_tag("/show_cart", method: "post") do %>
    <%= submit_tag 'Back', :name => 'back' %>
<% end %>
<%= form_tag("/confirmation", method: "post") do %>
    <%= submit_tag 'Confirm', :name => 'confirm' %>
<% end %>