<%= render "shared/error_messages" %>

<h2>Add some courses</h2>

<form action = "/add_course" method = "post">
  <%= token_tag nil %>
  <div class="input-append">
    <input class="span3" id="course_code" name="course_code" type="text" placeholder="Course code">
    <button class="btn" type="submit" name = "commit">Add course</button>
  </div>
</form>

<% unless @schedule_cart.nil? %>
    <h3>Courses in cart:</h3>

    <% @schedule_cart.each do | x | %>
        <p><%= x.to_s %></p>
    <% end %>

    <form action = "/reset" method = "post">
      <%= token_tag nil %>
        <button class="btn btn-danger" type = "submit" value = "reset" name = "reset">Reset</button>
    </form>

    <h2>Choose a semester </h2>

    <form action = "/preview" method = "post">
      <%= token_tag nil %>
      <div class="btn-group">
        <button class="btn btn-large btn-primary" type = "submit" value = "20141" name = "semester">Winter 2014</button>
        <button class="btn btn-large btn-primary" type = "submit" value = "20145" name = "semester">Summer 2014</button>
      </div>
    </form>
<% end %>


